/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:wght@200&display=swap'); */
/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,200;1,200&family=Roboto:wght@200&display=swap"); */
/* @import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:wght@200&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@200&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,200;1,200&family=Roboto:wght@200&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@200&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300&family=Raleway:ital,wght@0,200;1,200&family=Roboto:wght@200&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page1 {
  width: 100%;
  height: 92vh;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;

  .section1 {
    width: 25%;
    height: 12vh;
    /* background-color: aquamarine; */
    display: flex;
    gap: 10px;
    padding: 3rem;
    margin-left: 37rem;

    .link1 {
      width: calc(100% / 4);
      height: 100%;
      /* background-color: black; */
    }
  }
  .section2 {
    /* width: 100%; */
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ebeaea;
    position: relative;

    .img {
      width: 100%;
      background-image: url(img1.png);
      background-position: center;
      background-size: cover;
      object-fit: cover;
    }

    .headings {
      width: 50%;
      height: 60vh;
      /* background-color: black;  */
      display: flex;
      flex-direction: column;
      /* justify-content: center;    */
      /* align-content: center; */
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%);

      .h1 {
        width: 100%;
        height: 26vh;
        /* background-color: antiquewhite; */
        text-align: center;
        font-size: xx-large;
        font-family: "Raleway", sans-serif;
        /* font-weight: 700; */
      }
      .h5 {
        width: 100%;
        height: 10vh;
        /* background-color: brown; */
        text-align: center;
        font-family: "Roboto", sans-serif;
        /* font-family: "Raleway", sans-serif; */
        font-size: x-large;
      }
      .buttons {
        width: 100%;
        height: 10vh;
        /* background-color: blue; */
        display: flex;
        gap: 5rem;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .button1 {
          width: 15vw;
          height: 7vh;
          display: flex;
          flex-direction: column;
          text-align: center;
          justify-content: center;
          align-items: center;
          font-size: x-large;
          font-weight: 550;
          border-radius: 3rem 3rem 3rem 3rem;
          background-color: rgb(92, 116, 240);

          .href1 {
            color: white;
            text-decoration: none;
          }
        }
        .button2 {
          width: 15vw;
          height: 7vh;
          display: flex;
          flex-direction: column;
          text-align: center;
          justify-content: center;
          align-items: center;
          font-size: x-large;
          background-color: rgb(241, 197, 14);
          border-radius: 3rem 3rem 3rem 3rem;
          font-weight: 550;

          .href2 {
            color: rgb(15, 13, 13);
            text-decoration: none;
          }
        }
      }
      .link2 {
        width: 100%;
        height: 10vh;
        padding-top: 1rem;
        /* background-color: cadetblue; */
        display: flex;
        justify-content: center;
        font-size: large;
      }
    }
  }
}

.page2 {
  width: 100%;
  height: 43vh;
  background-color: rgb(92, 116, 240);
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  .box1 {
    width: 100%;
    height: 20vh;
    color: #ffffff;
    text-align: center;
    font-size: 3rem;
     font-family: "Raleway", sans-serif; 
   /* font-family: "Raleway", sans-serif; */
    padding-top: 1rem;
  }
  .box2{
    width: 55%;
    height: 12vh;
    background-color: rgb(255, 255, 255);
    border-radius: 6rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    /* padding-right: 1rem; */
    padding-left: 4rem;
    /* padding: auto;     */

    #input1{
      width: 35%;
      height: 70%;
      background-color: rgba(213, 213, 213, 0.644);
      border-radius: 7rem;
      padding-left:2rem;
      font-size: large;
      border: 0;

    }
    #input2{
      width: 35%;
      height: 70%;
      background-color: rgba(213, 213, 213, 0.644);
      border-radius: 7rem;
      padding-left:2rem;
      font-size: large;
      border: 0;

    }
    #submit{
      width: 20%;
      height: 70%;
      background-color:rgb(241, 197, 14) ;
      border-radius: 7rem;
      font-size: large;
      font-weight: 600;
      border: 0;

    }

  }
}

.page3{
  width: 100%;
  height: 98vh;
  /* background-color: rgb(149, 22, 22); */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .bigbox{
    width: 75%;
    height: 80%;
    /* background-color: aqua; */
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    /* padding-top: 1rem; */

    .boxs{
      width: 30%;
      height:36vh;
      background-color: rgb(165, 42, 126);
      border-radius: 3rem;
      position: relative;
      

      
    }
   #img1{
        width: 100%;
        height: 100%;
        background-image: url(./workers-considering-term-agreement.jpg);
        border-radius: 3rem;
   }

   #b2{
      background-color: rgb(92, 116, 240);

         #h51{
         text-align: center;
         font-size: 35px;
         padding-top: 55px;
         color: #ffffff;
         font-family: "Raleway", sans-serif;
         }
         #h61{
          width: 100%;
          height: 20%;
          /* background-color: aqua; */
          text-align: center;
          font-size: medium;
          padding-top: 25px;
          font-size: 18px;
          color: #ebeaea;
         }
         #p2{
          width: 100%;
          height: 20%;
          text-align: center;
          font-size: medium;
          padding-top: 30px;
          color: #ebeaea;
          #a1{
            color: #ebeaea;
            font-size: 17px;
            font-weight: 700;
            text-decoration: none;
          }
         }

   }
          #img2{
               width: 100%;
                 height: 100%;
                 background-image: url(./workers-considering-term-agreement.jpg);
                  border-radius: 3rem;
           }
          
         

            #img3{
             width: 12%;
             /* padding-left: 3rem; */
             position: absolute;
             top:20%;
             left: 43%; 
             position: relative;
           } 
           .color{
                 width: 4vw;
                 height: 7vh;
                 background-color:rgb(241, 197, 14) ;
                 position: absolute;
                 top: 17%;
                 left: 40%;
                 border-radius: 50%;
           }
           #h52{
            width: 100%;
            height: 5vh;
            /* background-color: rgb(170, 66, 66); */
            font-size: xx-large;
            text-align: center;
            padding-top: 6rem;
           }

           #b4{
            background-color: rgb(242, 242, 242);
                

            #img3{
             width: 12%;
             /* padding-left: 3rem; */
             position: absolute;
             top:20%;
             left: 43%; 
             position: relative;
           } 
           .color{
                 width: 4vw;
                 height: 7vh;
                 background-color:rgb(241, 197, 14) ;
                 position: absolute;
                 top: 17%;
                 left: 40%;
                 border-radius: 50%;
           }
           #h52{
            width: 100%;
            height: 5vh;
            /* background-color: rgb(170, 66, 66); */
            font-size: xx-large;
            text-align: center;
            padding-top: 7rem;
           }
           #h62{
            width: 100%;
          height: 20%;
          text-align: center;
          font-size: medium;
          padding-top: 60px;
          font-size: 18px;
          color: #4d4d4d;
           }

           }
           
           #b5{
             #img4{
              width: 100%;
                 height: 100%;
                 background-image: url(./box5.jpg);
                  border-radius: 3rem;
             }
           }

           #b6{
            background-color: rgb(242, 242, 242);
                

            #img5{
             width: 12%;
             /* padding-left: 3rem; */
             position: absolute;
             top:20%;
             left: 43%; 
             position: relative;
           } 
           .color{
                 width: 4vw;
                 height: 7vh;
                 background-color:rgb(241, 197, 14) ;
                 position: absolute;
                 top: 17%;
                 left: 40%;
                 border-radius: 50%;
           }
           #h53{
            width: 100%;
            height: 5vh;
            /* background-color: rgb(170, 66, 66); */
            font-size: xx-large;
            text-align: center;
            padding-top: 7rem;
           }
           #h63{
            width: 100%;
          height: 20%;
          text-align: center;
          font-size: medium;
          padding-top: 60px;
          font-size: 18px;
          color: #4d4d4d;
           }


           }
  }
}

.page4{
  width: 100%;
  height: 50vh;
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  justify-content: center;
      align-items: center;

  
    #p1{
      
    width: 100%;
    height: 15vh;
    background-color: #ffffff;

      #h31{
        width: 100%;
        height: 100%;
         font-family: "Raleway", sans-serif;
         font-size: 3rem;
         text-align: center;
         font-weight:500;
         color: rgba(22, 22, 22);
      }
    }

    #bigbox2{
      padding-top: 2rem;
      width: 70%;
      height: 40vh;
      /* background-color: burlywood; */
      display: flex;
      gap: 1rem;

      .parts{
        width: calc(100% /3);
        height: 97%;
        border-radius: 3rem;
      }
      #part1{
      background-color: rgb(92, 116, 240);
        .g1{
          text-align: center;
          font-size: 70px;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          color: #ffffff;    
          padding-top: 3rem;
          padding-bottom: 1rem;
        }
        .g2{
          text-align: center;
          font-size: larger;
          color: #ffffff;    

        }
      }
      #part2{
      background-color:rgb(241, 197, 14) ;
       .g1{
          text-align: center;
          font-size: 70px;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          color: #ffffff;    
          padding-top: 3rem;
          padding-bottom: 1rem;
        }
        .g2{
          text-align: center;
          font-size: larger;
          color: #ffffff;    

        }
      }
      #part3{
      background-color: rgb(242, 242, 242);
       .g1{
          text-align: center;
          font-size: 70px;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          color: #ffffff;    
          padding-top: 3rem;
          padding-bottom: 1rem;
        }
        .g2{
          text-align: center;
          font-size: larger;
          color: #ffffff;    

        }
      }
    }
  
}
.page5{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  

  
    .baba{
      width: 75%;
      height: 80vh;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;  
      flex-wrap: wrap;

          #Box1{
            width: 19vw;
            height: 38vh;
            /* background-color: aqua; */
            border-radius: 3rem;
            text-align:start;
            font-size: 18px;
            padding: 2rem;
            line-height: 24px;
            color: #999999 ;
          }
          #Box2{
            width: 22vw;
            height: 37vh;
          #img7{
            width: 100%;
            height: 100%;
            background-image: url(./img7.jpg);
            border-radius: 3rem;
          }
          }
          #Box3{
            width: 42%;
            height: 37vh;
          #img8{
            width: 100%;
            height: 100%;
            background-image: url(./img8.jpeg);
            border-radius: 3rem;
          }
          }
          #Box4{
            width: 42%;
            height: 37vh;
          #img9{
            width: 100%;
            height: 100%;
            background-image: url(./img9.jpeg);
            border-radius: 3rem;
          }
          }
          #Box5{
            width: 22vw;
            height: 37vh;
          #img10{
            width: 100%;
            height: 100%;
            background-image: url(./img10.jpg);
            border-radius: 3rem;
          }
          }
          #Box6{
            width: 19vw;
            height: 37vh;
            /* background-color: rgb(55, 165, 165); */
            border-radius: 3rem;
            text-align:start;
            font-size: 18px;
            padding: 2rem;
            line-height: 24px;
            color: #999999 ;


          }
  
    }
    .baba1{
      #p3{
          width: 100%;
          height: 20%;
          text-align: center;
          font-size: medium;
          padding-top: 30px;
          color: #1e1e1e;
          #a2{
            color: rgb(241, 197, 14);
            font-size: 17px;
            font-weight: 700;
            text-decoration: none;
          }
         }
    }

}
.page6{
   width: 100%;
  height: 45vh;
  background-color: rgb(92, 116, 240);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

    .section3{
      width: 50%;
      height: 32vh;
      /* background-color: #999999; */

      .box3{
        width: 100%;
        height: 4vh;
        /* background-color: aqua; */
        text-align: center;
        /* padding-bottom: 1rem; */
        font-size: 20px;
        color: #ebeaea;
          font-family: "Commissioner", sans-serif;
          /* padding-top: 1rem; */

      }
      .box4{
        width: 100%;
        height: 13vh;
        text-align: center;
        font-size: 30px;
        color: #ebeaea;
        line-height: 43px;
          font-family: "Commissioner", sans-serif;


      }
      .box5{
        width: 100%;
        height: 5vh;
        text-align: center;
        font-size: 20px;
        color: #ebeaea;

      }
      .box6{
        width: 100%;
        height: 10vh;
        /* background-color: blue; */
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .button3{
           /* width: 100%; */
           /* height: 10vh; */
           /* background-color: rgb(21, 183, 183); */
           width: 15vw;
          height: 7vh;
          display: flex;
          flex-direction: column;
          text-align: center;
          justify-content: center;
          align-items: center;
          font-size: x-large;
          background-color: rgb(241, 197, 14);
          border-radius: 3rem 3rem 3rem 3rem;
          font-weight: 550;
        
        .href3{
          color: rgb(8, 8, 8);
          font-size: medium;
          text-decoration: none;


        }
        }
      }
    }
}

.page7{
  width: 100%;
  height: 35vh;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;

  .section4{
    width: 40%;
    height: 30vh;
    /* background-color: aqua; */

    #part4{
      width: 100%;
      height: 7vh;
      /* background-color: #978f8f; */
      padding: 1rem;
      padding-bottom: 1rem;

      #h22{
        font-size: 45px;
        text-align: center;
        font-family: "Quicksand", sans-serif;

      }
    }
    #part5{
      width: 100%;
      height: 12vh;
      /* background-color: #bb6666; */
      padding: 2rem;

      #h64{
        font-size: 17px;
        text-align: center;
        font-family: "Quicksand", sans-serif;
      }
    }
    #part6{
      width: 100%;
      height: 5vh;

      #p4{
          width: 100%;
          height: 20%;
          text-align: center;
          font-size: medium;
          padding-top: 30px;
          color: #1e1e1e;
        #a3{
            color: rgb(92, 116, 240);
            font-size: 17px;
            font-weight: 700;
            text-decoration: none;
        }
      }
    }
  }
}

.page8{
  width: 100%;
  height: 90vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .bigbox1{
    width: 73%;
    height: 72vh;
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1rem;


    .part1{
      width:44%;
      height: 32vh;
      background-color: rgb(31, 107, 174);
      border-radius: 4rem;
      display: flex;
      flex-direction: row;
      justify-content: end;
      gap: 1rem;

      .img1{
        width: 35%;
        height:18vh;
        border-radius:50%;
        background-color: rgb(168, 96, 25);
        padding: 1rem;

        .im{
          width: 20%;
          height: 10%;
          padding: 1rem;
        }
      }
      .boxs1{
        width:18vw;
        height: 100%;
        background-color: blue;
        display: flex;
        flex-direction: column;
        /* justify-content: end; */
        /* align-items: end; */
        /* border-radius: 0 4rem 4rem 0 ; */


        .sentens1{
          width: 100%;
          height: 5vh;
          background-color: black;
          h61{
            font-size: 10px;
            color: brown;
            text-align: start;
          }
        }
        .sentens2{
          width: 100%;
          height: 6vh;
          background-color: cadetblue;
          .h51{
            font-size: 20px;
            color: red;
            text-align: start;
          }
        }
        .sentens3{
          width: 100%;
          height: 10vh;
          background-color: chocolate;
          .h61{
            font-size: 10px;
            color: red;
            text-align: start;
          }
        }
        .parts{
          width: 100%;
          height: 5vh;
          background-color: saddlebrown;
          display: flex;
          flex-direction: row;
          justify-content: start;
          gap: 1rem;
          .icon{
           img{
            width: 2vw;
            height: 2vw;
           }
          }
        }       
      }
    }
    .part2{
      width:33vw;
      height: 32vh;
      background-color: aliceblue;
      border-radius: 4rem;

      .img1{
        width: 10vw;
        height: 100%;
        border-radius: 50%;
        background-color: bisque;
      }
      .boxs1{
        width:15%;
        height: 100%;
        background-color: blue;
        display: flex;
        flex-direction: column;
        .sentens1{
          width: 100%;
          height: 3%;
          background-color: black;
          h61{
            font-size: 10px;
            color: brown;
            text-align: start;
          }
        }
        .sentens2{
          width: 100%;
          height: 3%;
          background-color: cadetblue;
          .h51{
            font-size: 20px;
            color: red;
            text-align: start;
          }
        }
        .sentens3{
          width: 100%;
          height: 5%;
          background-color: chocolate;
          .h61{
            font-size: 10px;
            color: red;
            text-align: start;
          }
        }
        .parts{
          width: 55%;
          height: 3%;
          background-color: saddlebrown;
          display: flex;
          flex-direction: row;
          justify-content: start;
          gap: 1rem;
          /* .icon{} */
        }
      }
    }
    .part3{
      width:33vw;
      height: 32vh;
      background-color: aliceblue;
      border-radius: 4rem;

      .img1{
        width: 10vw;
        height: 100%;
        border-radius: 50%;
        background-color: bisque;
      }
      .boxs1{
        width:15%;
        height: 100%;
        background-color: blue;
        display: flex;
        flex-direction: column;
        .sentens1{
          width: 100%;
          height: 3%;
          background-color: black;
          h61{
            font-size: 10px;
            color: brown;
            text-align: start;
          }
        }
        .sentens2{
          width: 100%;
          height: 3%;
          background-color: cadetblue;
          .h51{
            font-size: 20px;
            color: red;
            text-align: start;
          }
        }
        .sentens3{
          width: 100%;
          height: 5%;
          background-color: chocolate;
          .h61{
            font-size: 10px;
            color: red;
            text-align: start;
          }
        }
        .parts{
          width: 55%;
          height: 3%;
          background-color: saddlebrown;
          display: flex;
          flex-direction: row;
          justify-content: start;
          gap: 1rem;
          .icon{}
        }
      }
    }
    .part4{
      width:33vw;
      height: 32vh;
      background-color: aliceblue;
      border-radius: 4rem;
      .img1{
        width: 10vw;
        height: 100%;
        border-radius: 50%;
        background-color: bisque;
      }
      .boxs1{
        width:15%;
        height: 100%;
        background-color: blue;
        display: flex;
        flex-direction: column;
        .sentens1{
          width: 100%;
          height: 3%;
          background-color: black;
          h61{
            font-size: 10px;
            color: brown;
            text-align: start;
          }
        }
        .sentens2{
          width: 100%;
          height: 3%;
          background-color: cadetblue;
         .h51{
          font-size: 20px;
            color: red;
            text-align: start;
         }
        }
        .sentens3{
          width: 100%;
          height: 5%;
          background-color: chocolate;
          .h61{
            font-size: 10px;
            color: red;
            text-align: start;
          }
        }
        .parts{
          width: 55%;
          height: 3%;
          background-color: saddlebrown;
          display: flex;
          flex-direction: row;
          justify-content: start;
          gap: 1rem;
          .icon{}
        }
      }
    }
  }
}

